/* FONTS */
@font-face {
	font-family: 'Computer Modern Classical Serif Upright Italic';
	src: url('./fonts/cmunti.ttf') format('truetype');
}

@font-face {
	font-family: 'Computer Modern Classical Serif Bold Italic';
	src: url('./fonts/cmunbi.ttf') format('truetype');
}

@font-face {
	font-family: 'Computer Modern Classical Serif Roman';
	src: url('./fonts/cmunrm.ttf') format('truetype');
}

@font-face {
	font-family: 'Computer Modern Classical Sans Serif Medium';
	src: url('./fonts/cmunss.ttf') format('truetype');
}

@font-face {
	font-family: 'Computer Modern Classical Serif Italic';
	src: url('./fonts/cmunci.ttf') format('truetype');
}

/* TAG STYLES */
a {
	text-decoration:none;
	color: white;
}

a:hover{
	color: papayawhip;
}

body {
	margin: 0px;
	padding: 0px;
}

footer {
	font-family: 'Computer Modern Classical Sans Serif Medium';
	background-color: maroon;
	color: white;
	justify-content: space-around;
}

li {
	padding: 3%;
}

li:hover{
	cursor: pointer;
	color: maroon;
}

nav {
    background-color: maroon;
    color: white;
    padding: 30px;
	font-family: 'Computer Modern Classical Serif Italic';
}


/* CLASS STYLES */
.flex {
    display: flex;
}

.hebrew {
	text-align: right;
	font-size: 20px;
}

.home {
	flex-direction: column;
	align-items: stretch;
}

.postcontainer {
	padding: 3%;
}

.popquote {
	padding: 15%;
	text-align: center;
	background-color: papayawhip;
	font-size: 35px;
	font-family: 'Computer Modern Classical Serif Bold Italic';
}

.postcontainer {
	justify-content: space-evenly;
	padding: 3%;
}

.posts {
	padding: 150px;
	text-align: center;
	background-color: white;
	font-size: 35px;
	font-family: 'Computer Modern Classical Serif Bold Italic';
}

.post-title {
	flex-direction: row;
	justify-content: space-between;
}

.welcome {
	padding-top: 50px;
	padding-right: 150px;
	padding-bottom: 50px;
	padding-left: 150px;
	text-align: left;
	background-color: white;
	font-size: 20px;
	font-family: 'Computer Modern Classical Serif Roman';
	justify-content: space-between;
}

.welcomebox {
	flex-grow: 1;
	padding-right: 45px;
}

.welcomeimage {
	flex-grow: 1;
}

.welcometext {
	padding-bottom: 20px;
	font-family: Computer Modern Classical Serif Italic;
	font-size: 25px;
}

/* ID STYLES */

#sidebar {
	flex-direction: column;
	flex: 30%;
	margin: 3%;
	padding: 3%;
	align-items: stretch;
	font-family: 'Computer Modern Classical Sans Serif Medium';
	font-size: 17px;
	background-color: papayawhip;
	list-style-type: hebrew;
}

#post {
	flex: 70%;
	padding: 3%;
	font-family: 'Computer Modern Classical Serif Roman';
	flex-direction: column;
}

/* MOBILE STYLES*/
@media only screen and (max-width : 600px) {
	/* TAG STYLES */
	footer {
		flex-direction: column;
		text-align: center;
		margin-top: 10%;
	}
	
	/* CLASS STYLES */
	.popquote {
		padding: 10%;
	}
	.popquote-top {
		padding-bottom: 10%;
	}
	.post-container {
		flex-direction: column;
	}
	.welcome {
		padding: 0%;
		text-align: center;
		flex-direction: column;
	}
	.welcomebox {
		padding: 3%;
	}

	/* ID STYLES */
	#sidebar {
		padding: 10%;
	}
}