@font-face {
	font-family: 'Computer Modern Classical Serif Upright Italic';
	src: url('./fonts/cmunti.ttf') format('truetype');
}

@font-face {
	font-family: 'Computer Modern Classical Serif Bold Italic';
	src: url('./fonts/cmunbi.ttf') format('truetype');
}

@font-face {
	font-family: 'Computer Modern Classical Serif Roman';
	src: url('./fonts/cmunrm.ttf') format('truetype');
}

@font-face {
	font-family: 'Computer Modern Classical Sans Serif Medium';
	src: url('./fonts/cmunss.ttf') format('truetype');
}

@font-face {
	font-family: 'Computer Modern Classical Serif Italic';
	src: url('./fonts/cmunci.ttf') format('truetype');
}

body {
	margin: 0px;
	padding: 0px;
}

.flex {
    display: flex;
  }

nav {
    background-color: maroon;
    color: white;
    padding: 30px;
	font-family: 'Computer Modern Classical Serif Italic';
}

a {
	text-decoration:none;
	color: white;
}

a:hover{
	color: papayawhip;
}

.popquote {
	padding: 150px;
	text-align: center;
	background-color: papayawhip;
	font-size: 35px;
	font-family: 'Computer Modern Classical Serif Bold Italic';
}

.posts {
	padding: 150px;
	text-align: center;
	background-color: white;
	font-size: 35px;
	font-family: 'Computer Modern Classical Serif Bold Italic';
}

.welcome {
	padding-top: 50px;
	padding-right: 150px;
	padding-bottom: 50px;
	padding-left: 150px;
	text-align: left;
	background-color: white;
	font-size: 20px;
	font-family: 'Computer Modern Classical Serif Roman';
}

.welcometext {
	flex-grow: 1;
	padding-right: 45px;
}

.welcomeimage {
	flex-grow: 1;
}

@media only screen and (max-width : 600px) {
	.navbar {
		color: green;
	}
}

footer {
	font-family: 'Computer Modern Classical Sans Serif Medium';
	background-color: maroon;
	color: white;
}

li:hover{
	cursor: pointer;
	color: maroon;
}